@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html,
body {
    overflow-x: hidden;
}
body {
    position: relative;
    right: 0;
    color: white;
    background-image: url(photos/Alex-sitting-down\.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    scroll-behavior: smooth;
}
/* Hyper links */
a {
    color: black;
    text-decoration: none;
    text-decoration-color: white;
    transition: all 2s ease;
}
.title-name-link:hover {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    text-underline-offset: .5rem;
    text-decoration-color: rgb(181, 181, 181);
}
/* Hero Main Page */
.home-container {
    position: relative;
    left: 4vw;
}
.title-name {
    height: 30vh;
    display: block;
    font-size: 7rem;
}
.title-name-link {
    display: block;
    text-decoration: none;
    margin: 0;
    color: white;
    cursor: pointer;
}
/* Navbar */
.nav-container {
    height: 65vh;
}
.nav {
    /* width: 100%; */
    height: 4rem;
    max-height: 6rem;
    font-size: 1rem;
    background: transparent;
}
.nav-list {
    display: flex;
    position: relative;
    top: 0;
    left: 4vw;
    list-style: none;
    
}
.nav-link {
    display: flex;
    margin-right: 1rem;
    text-decoration: none;
    color: white;
}
.nav-link:hover {
    transition: 800ms;
    font-size: 1rem;
}

.nav-link:visited {
    color: white;
}
/* Social Links */
.social-container {
    margin-bottom: 5vh;
}
.social-links {
    padding-right: 1rem;
    position: relative;
    left: 4vw;
    margin: auto 0;
    text-decoration: none;
    color: white;
}
.fa-
.container {
    position: relative;
}
/* Video Promo*/
h2 {
    position: relative;
    left: 4vw;
    font-size: 2.5rem;
    text-decoration: underline;
    text-underline-offset: 1rem;
}
.video-container {
    height: 60vh;
    left: 4vw;
    margin-bottom: 15vh;
}
.video {
    width: 600px; 
    height: 405px;
    position: relative;
    left: 4vw;
    top: 5vh;
}
/* Upcoming Shows */
.shows-title {
    margin-bottom: 4vh;
}
.shows {
    height: 10vh;
}
.dates {
    position: relative;
    left: 4vw;
    margin-bottom: 17vh;
    font-size: 2rem;
}
.dates>p {
    margin-bottom: 2rem;
}
/* About Me */
.about-container {
    width: 100vw;
    height: 120vh;
}
.alex-guitar {
    position: relative;
    top: 4vh;
    left: 4vw;
    height: 300px;
}
.about-container-img-p {
    display: block;
}
.paragraph {
    max-width: 700px;
    position: relative;
    top: 6vh;
    left: 4vw;
    font-size: 2rem;
}
/* Contact */
.contact-container {
    height: 60vh;
}
.contact-title {
    margin-bottom: 4vh;
}
.contact-form {
    position: relative;
    left: 4vw;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
}
.contact-input {
    width: 400px;
    height: 50px;
    padding-left: 25px;
    border: none;
    outline: none;
    font-weight: 500;
    color: #666;
    border-radius: 22px;
}
.contact-form textarea {
    height: 15vh;
    padding-top: 15px;
    border-radius: 20px;
}
.contact-input:focus {
    border: 2px solid black;
}
button {
    border: none;
    border-radius: 10px;
    background-color: rgb(56, 50, 50);
    color: aliceblue;
    width: 80px;
    height: 40px;
    cursor: pointer;
}
.footer-copy {
    position: relative;
    bottom: 2vh;
    text-align: center;
}